@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body, header, h1, h2,
main, a, img, div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  font-family: 'Raleway',serif;
}

.screen {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.instructions {
  width: 200px;
  border: 2px solid #75ACE5;
  padding: 20px;
  margin-right: 27px;
  margin-top: 45px;
  background-color: "blue":
}

.left-arrow-instructions,
.right-arrow-instructions,
.game-play-instructions {
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.game-play-instructions {
  display: block;
}

.arrow-image {
  margin-left: 5px;
  margin-right: 5px;
}

.bone-instructions,
.chocolate-instructions {
  display: flex;
  align-items: center;
}

.chocolate-instructions {
  margin-top: 10px;
}

.bone-image,
.chocolate-image {
  margin-left: 5px;
  margin-right: 5px;
}

.game {
}

.header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

canvas {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(https://res.cloudinary.com/joycechau/image/upload/c_scale,h_500/v1485282748/game.jpg);
}

.nav-links {
  width: 200px;
  margin-top: 45px;
}

.linkedin-link,
.github-link {
  padding: 7px;
  display: flex;
}

.linkedin-image,
.github-image {
  margin-left: 20px;
  margin-right: 5px;
  float: left;
}

.linkedin-text,
.github-text {

}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
